/*  second Section  */


/* background: url("/assets/images/1000236306.png"); */

#bg-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 1;
}

.user-name {
    font-weight: bold;
    color: #4CAF50;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    animation: float 3s infinite;
}

.coding-title {
    font-size: 2rem;
    margin-top: 20px;
    color: #007BFF;
    transform: rotateY(15deg) rotateX(5deg);
    transition: transform 0.3s ease;
}

.coding-card {
    perspective: 1000px;
    display: inline-block;
    margin-top: 20px;
}

.coding-card .card-body {
    transform: rotateY(15deg) rotateX(5deg);
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.5s ease;
}

.coding-card:hover .card-body {
    transform: rotateY(0deg) rotateX(0deg);
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}